textarea{
    resize: none;
        flex-grow: 1;
}

.ui-g.ui-fluid {
    height: 100%;
}

.card.card-w-title {
    height: 100%;
}

.card.card-w-title {
    display: flex;
    flex-direction: column;
}