<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-lg-6">
    <!--<div class="ui-g-12 ui-md-4">-->
    <div class="card card-w-title">
      <h1>Your Input Text</h1>
      <textarea [(ngModel)]="text" pInputTextarea placeholder="Your Text" autoResize="false"></textarea>
      <button type="button" (click)="process()" class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                     <span class="ui-button-text ui-c">Process</span>
                     <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-fingerprint"></span>
                </button>

    </div>
  </div>
  <div class="ui-g-12 ui-lg-6">
    <div class="card card-w-title">
      <h1>Result</h1>
      <div *ngFor="let item of result">
        {{item}}
      </div>
    </div>
  </div>
</div>